
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="telephone=no, address=no" name="format-detection">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>微留言演示案例</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/message./msg.css" media="all" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/plugin/My97DatePicker/WdatePicker.js"></script>
</head>

<body id="message" onselectstart="return true;" ondragstart="return false;">
	<div class="container">
	  	<div class="qiandaobanner">
		  	<a href="__PUBLIC__/message">
		  		<img src="__PUBLIC__/message/wall.jpg" style="width:100%;" />
		  	</a>
	  	</div>
		<div class="cardexplain">
			<div class="window" id="windowcenter">
				<div id="title" class="wtitle">操作提示<span class="close" id="alertclose"></span></div>
				<div class="content">
					<div id="txt"></div>
				</div>
			</div>
		<!-- 	时间搜索 -->
			<form method="post" action="{:U('msg/indextwo')}">
				开始时间
  				<input class="Wdate" type="text" name="created_at" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
  				结束时间
  				<input class="Wdate" type="text" name="createdd_at" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
  				<input type="submit" name="" value="查询">
			<!-- 	时间搜索结束 -->
			</form>
  			<div class="history">

				<div class="history-date">
					<ul>
						<a><h2 class="first first1" style="position: relative;">点击留言</h2></a>
						<li class="nob  mb">
							<div class="beizhu">留言审核通过后才会显示在留言墙上！</div>
						</li>
						<foreach name="msgs" item="msg">
						<li class="green bounceInDown">
							<h3>
								<img src="__PUBLIC__/message/logo100x100.jpg"> 
								{$msg['uname']}
								<span>
									<php>echo date('Y-m-d H:i:s',$msg['created_at']);</php>
								</span>
								<div class="clr"></div>
							</h3>
							<dl>
								<dt class="hfinfo">{$msg['content']}</dt>
							</dl>
						</li>
						</foreach>

						<li class="green bounceInDown nob ly2" style="display:none;">
							<form action="{:U('msg/add')}" method="post" class="form1">
							<dl>
								<dt>
									<input name="uname" type="text" class="px" id="uname" value="" placeholder="请输入您的昵称">
									</dt>
								<dt>
									<textarea name="content" class="pxtextarea" style=" height:60px;" id="content" placeholder="请输入留言内容"></textarea>
								</dt>
								<dt>
									<a class="submit" href="javascript:void(0);">提交留言</a>
								</dt>
							</dl>
							</form>
						</li>
						<a><h2 class="first first2" style="position: relative;">点击留言</h2></a>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="__PUBLIC__/message/jquery.js"></script>
	<script type="text/javascript"> 
		$(function(){
			//留言表单显示切换
			$(".first1").click(function(){
				$(".ly1").slideToggle();
			});
			$(".first2").click(function(){
				$(".ly2").slideToggle();
			});

			//点击提交留言a标签，则提交表单
			$('.submit').click(function(){
				//判断用户名和密码不能为空
				var uname = $('#uname').val();
				var content = $('#content').val();
				if (uname == '' || content == '') {
					alert('请输入昵称或留言内容');
					return;
				}
				//提交表单
				$('.form1').submit();
			});
		});
	</script> 
</body>
</html>